


<div id="envanter-mobilya-box pets-template hayvanlarmk" (mouseup)="onMouseUp()">
    <div id="envanter-mobi-icerik-box" *ngIf="!hasPetItems">
        <div class="entbos-image"></div>
        <p class="entbos-baslik">{{ ('inventory.empty.pets.title') | translate }}</p>
        <p class="entbos-desc">{{ ('inventory.empty.pets.desc') | translate }}</p>
    </div>
    <ng-container *ngIf="hasPetItems">
        <div id="envanter-mobi-icerik-box">
            <div class="envanter-icerisindeki-mobiler">
                <div class="erobotlar-sol">
                    <div class="er-sol-m">
                        <div id="mobilya-onizleme-box" style="min-height: 50px;max-height: 50px;"
                        *ngFor="let petItem of petItems;trackBy:trackByType" (mousedown)="onMouseDown(petItem)" (mouseout)="onMouseOut(petItem)"
                        [ngClass]="{ 'entactivemobi': (selectedItem === petItem), 'yenimobi': petItem.isUnseen }">
                            <div class="mobi-ufak-icon" pet-image [petFigureData]="petItem.petData.figureData" [direction]="2" [headOnly]="true" [asBackground]="true"></div>
                        </div>
                    </div>
                </div>
                <div class="emb-sag">
                    <div *ngIf="selectedGroup && selectedGroup.stuffData.uniqueNumber">
                        <div [innerHTML]="selectedGroup.stuffData.uniqueNumber | uniqueNumber"></div>
                        <div [innerHTML]="selectedGroup.stuffData.uniqueSeries | uniqueNumber"></div>
                    </div>
                    <div class="emb-s-m" *ngIf="selectedItem">
                        <div class="mobi-onizleme-buyuk">
                            <div id="mobi-onizleme-goruntu" nitro-room-preview-component [roomPreviewer]="roomPreviewer" [height]="140"></div>
                        </div>
                        <div class="envanter-mobi-adi">
                            <div class="e-m-a-yazi" title="{{ selectedItem.petData.name }}">{{ selectedItem.petData.name }}</div>
                        </div>
                        <button *ngIf="!tradeRunning && canPlace" type="button" class="envanter-mobi-odaya-yerlestir" (click)="attemptPetPlacement()">
                            <div class="odaya-yerlestir-yazi">{{ ('inventory.furni.placetoroom') | translate }}</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>


<div class="minv-main_box" (mouseup)="onMouseUp()">
    <div id="minv-boxnull" *ngIf="!hasPetItems">
        <p class="minv-null-title">{{ ('inventory.empty.pets.title') | translate }}</p>
        <p class="minv-null-desc">{{ ('inventory.empty.pets.desc') | translate }}</p>
    </div>
    <ng-container *ngIf="hasPetItems">
        <div class="minv-pets-main">
            <div id="minv-items-box" *ngFor="let petItem of petItems;trackBy:trackByType" (mousedown)="onMouseDown(petItem)" (mouseout)="onMouseOut(petItem)"
            [ngClass]="{ 'minv-items-box-active': (selectedItem === petItem), 'minv_new': petItem.isUnseen }">
                <div class="minv-items-icon" pet-image [petFigureData]="petItem.petData.figureData" [direction]="2" [headOnly]="true" [asBackground]="true"></div>
            </div>
        </div>
        <div class="minv-right mright-p" *ngIf="selectedItem">
            <div class="m-roomview" >
                <div nitro-room-preview-component [roomPreviewer]="roomPreviewer" [width]="210" [height]="140"></div>
            </div>
            <div class="minv-items-name">
                {{ selectedItem.petData.name }}
            </div>
            <button *ngIf="!tradeRunning && canPlace" type="button" class="minv-roomplace" (click)="attemptPetPlacement()">
                {{ ('inventory.furni.placetoroom') | translate }}
            </button>
        </div>
    </ng-container>
</div>
