<div class="hotel-alert" noMemory="true" center="true">
    <div class="habbo_hotel_modern_alert">
        <div id="alert-header">
            <div class="modern_alert-header-text">{{ title }}</div>
        </div>
        <div class="modern_alert_body">
            <div class="modern_alert-aciklama">
                <div class="modern_alert-aciklama-text" [innerHTML]="message"></div>
            </div>
            <div class="btn-group w-100">
                <div class="choices-button" (click)="close()">
                    <div class="h-k-yazi">{{ ('generic.cancel') | translate }}</div>
                </div>
                <div class="choices-button" (click)="confirm()">
                    <div class="h-k-yazi">{{ ('generic.ok') | translate }}</div>
                </div>
            </div>
        </div>
    </div>
</div>