<div #activeView class="nitro-room-avatarinfo-component context-menu corelo align-items-center">
    <div class="avatarinfo-username" *ngIf="visible">
        <p class="m-0">{{ userName }}</p>
    </div>
    <div class="ainfo-radius d-flex flex-column w-100" *ngIf="visible">
        <ng-container [ngSwitch]="mode">
            <ng-container *ngSwitchCase="0">
                <ng-container *ngFor="let entry of menu">
                    <ul class="list-group list-group-flush">
                        <ng-container *ngFor="let item of entry.items">
                            <ng-container *ngIf="item.visible" [ngSwitch]="item.name">
                                <li *ngSwitchCase="'respect'" (click)="processAction(item.name)" class="list-group-item">{{ item.localization | translate:'count':avatarData._Str_3577 }}</li>
                                <li *ngSwitchDefault (click)="processAction(item.name)" class="list-group-item">{{ item.localization | translate }}</li>
                            </ng-container>
                        </ng-container>
                    </ul>
                </ng-container>
            </ng-container>
            <ng-container *ngSwitchCase="1">
                <div class="px-2">
                    <p class="botskill">{{ ('bot.skill.name.configuration.new.name') | translate }}</p>
                    <input type="text" class="form-control form-control-sm mb-2" [(ngModel)]="newName">
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" class="avatar-close" (click)="processAction('')">{{ ('cancel') | translate }}</button>
                        <button type="button" class="avatar-save" (click)="processAction('save_bot_name')">{{ ('save') | translate }}</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="2">
                <div class="px-2">
                    <p class="botskill">{{ ('bot.skill.name.configuration.new.motto') | translate }}</p>
                    <input type="text" class="form-control form-control-sm mb-2" [(ngModel)]="newMotto" />
                    <div class="d-flex justify-content-between align-items-center">
                        <button type="button" class="avatar-close" (click)="processAction('')">{{ ('cancel') | translate }}</button>
                        <button type="button" class="avatar-save" (click)="processAction('save_bot_motto')">{{ ('save') | translate }}</button>
                    </div>
                </div>
            </ng-container>
            <ng-container *ngSwitchCase="3">
                <div class="px-2">
                    <div class="d-flex flex-column">
                        <p class="botskill">{{ ('bot.skill.chatter.configuration.chat.text') | translate }}</p>
                        <textarea class="form-control form-control-sm mb-2" [placeholder]="('bot.skill.chatter.configuration.text.placeholder' | translate)" [(ngModel)]="newText"></textarea>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="botskill" style="padding-top: 0px;">{{ 'bot.skill.chatter.configuration.automatic.chat' | translate }}</p> 
                        <input type="checkbox" class="form-check-input m-0" [checked]="automaticChat" (click)="(automaticChat = !automaticChat)" style="margin-right: 0px !important;width: 17px !important;height: 16px !important;"/>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="botskill" style="padding-top: 0px;">{{ ('bot.skill.chatter.configuration.markov') | translate }}</p>
                        <input type="checkbox" class="form-check-input m-0" [checked]="mixSentences" (click)="(mixSentences = !mixSentences)" style="margin-right: 0px !important;width: 17px !important;height: 16px !important;"/>
                    </div>
                    <div class="d-flex flex-row">
                        <p class="botskill" style="padding-top: 2px;">{{ ('bot.skill.chatter.configuration.chat.delay') | translate }}</p>
                        <input type="text" class="form-control form-control-sm" [(ngModel)]="chatDelay" style="float: right;min-width: 50px !important;width: 50px !important;    height: 25px !important;margin-bottom: 5px;"/>
                    </div>
                    <div class="d-flex flex-row justify-content-between mt-1">
                        <button type="button" class="avatar-close" (click)="processAction('')">{{ ('cancel') | translate }}</button>
                        <button type="button" class="avatar-save" (click)="processAction('save_bot_motto')">{{ ('save') | translate }}</button>
                    </div>
                </div>
            </ng-container>
        </ng-container>
    </div>
    <div class="avatarinfo-visible" [ngClass]="visible ? 'fa-chevron-down' : 'fa-chevron-up m-2'" (click)="toggleVisibility()"></div>
</div>
