<div id="kapizili" [bringToTop] [draggable] dragHandle="#kapizilihareket">
    <div id="kapizilihareket">
        <div class="kapizili-header-baslik">{{ ('navigator.password.title') | translate }}</div>
        <div class="modern-close" (click)="close()"><div class="closetab1"></div><div class="closetab2"></div></div>
    </div>
    <div class="kapizili-box">
        <div class="doorbell-description" *ngIf="room" style="font-weight: bold;">{{ room.roomName }}</div>
        <div class="doorbell-description" *ngIf="!isWrongPassword">{{ ('navigator.password.info') | translate }}</div>
        <div class="doorbell-description" *ngIf="isWrongPassword">{{ ('navigator.password.retryinfo') | translate }}</div>
        <div class="doorbell-passmain">
            <input autocomplete="new-password" type="password" class="doorbell-pass_input" [(ngModel)]="password" placeholder="*****">
        </div>
        <div class="doorbell-button-main">
            <div class="d-flex justify-content-between">
                <button type="button" class="doorbell-closebutton" (click)="close()">{{ ('generic.cancel') | translate
                    }}</button>
                <button type="button" class="doorbell-okay" (click)="tryPassword()">{{ ('navigator.password.button.try')
                    | translate }}</button>
            </div>
        </div>
    </div>
</div>
