<!--<div *ngIf="visible" [bringToTop] [draggable] class="nitro-furniture-trophy card trophy-{{ color }}" noMemory="true">
    <div class="drag-handler d-flex justify-content-between align-items-center px-3 pt-3">
        <h6 class="m-0">{{ ('widget.furni.trophy.title') | translate }}</h6>
        <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
    </div>
    <div class="p-3 d-flex flex-column">
        <p class="p-0 trophy-message">{{ message }}</p>
        <div class="mt-auto">
            <hr class="mb-1" />
            <div class="d-flex justify-content-between align-items-center">
                <p class="p-0 mb-0">{{ ownerName }}</p>
                <p class="p-0 mb-0">{{ date }}</p>
            </div>
        </div>
    </div>
</div>-->

<div *ngIf="visible" [bringToTop] [draggable] class="modern-trophies" noMemory="true">
    <div class="mtrop-header drag-handler">
            <div class="mtrop-header-text">{{ ('widget.furni.trophy.title') | translate }}</div>
            <div class="modern-close" (click)="hide()"><div class="closetab1"></div><div class="closetab2"></div></div>
    </div>
    <div class="mtrop-body">
        <div class="mtrop-{{ color }}">
            <p class="mtrop-text">{{ message }}</p>
        </div>
        <div class="mtrop-ownerinfo">
            <p class="mtrop-ownername">{{ ownerName }}</p>
            <p class="mtrop-date">{{ date }}</p>
        </div>
    </div>
</div>
