<!--<div class="d-flex flex-column w-100 h-100">
    <div *ngIf="!activeOffer" class="d-flex flex-column justify-content-center align-items-center w-100 h-100 mb-2">
        <img *ngIf="getImage(1)" [src]="getImage(1)" image-placeholder />
    </div>
    <div *ngIf="activeOffer" class="position-relative mb-2">
        <nitro-badge class="position-absolute" style="right: 10px; z-index: 1;" [badge]="selectedGroup.badge" [isGroup]="true"></nitro-badge>
        <div class="position-absolute bg-secondary rounded text-center px-2" style="z-index:1;">{{ offerName(activeOffer) }}</div>
        <div class="room-preview" nitro-room-preview-component [roomPreviewer]="roomPreviewer" [width]="364" [height]="182"></div>
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <button class="btn btn-primary" [ngStyle]="{backgroundColor: '#' + selectedGroupColorA}"></button>
            <button class="btn btn-primary" [ngStyle]="{backgroundColor: '#' + selectedGroupColorB}"></button>
        </div>
        <select class="form-control form-control-sm" [(ngModel)]="selectedGroupId">
            <option *ngFor="let group of groups" [value]="group.id">{{ group.title }}</option>
        </select>
    </div>
    <perfect-scrollbar class="grid-container w-100" style="min-height:156px;max-height:156px;height:156px;">
        <div class="grid-items grid-6">
            <div class="d-flex flex-column item-detail justify-content-center align-items-center" *ngFor="let offer of offers" (click)="selectOffer(offer)">
                <button type="button" class="position-relative btn btn-secondary align-items-end detail-info" [ngClass]="{ 'mgzmobiactive': (activeOffer === offer)}">
                    <div class="position-absolute detail-info has-image" [ngStyle]="{ 'background-image': 'url(' + offerImage(offer) + ')' }"></div>
                    <div class="position-absolute bg-danger px-1 py-0 rounded shadow count" *ngIf="(offerCount(offer) > 1)">{{ offerCount(offer) }}</div>
                </button>
            </div>
        </div>
    </perfect-scrollbar>
    <div *ngIf="activeOffer" class="d-flex align-items-center mt-2 flex-grow-1 w-100" nitro-catalog-purchase-component
    [activePage]="activePage"
    [activeOffer]="activeOffer"
    [quantityEnabled]="activeOffer.bundlePurchaseAllowed"
    [forcedExtra]="selectedGroupId"></div>
</div>-->



<div class="mobiler-magaza-box">
    <div class="magaza-mobiler-onizleme">
        
        <div id="magaza-mobilya-onizleme-box" *ngFor="let offer of offers" (click)="selectOffer(offer)" [ngClass]="{ 'mgzmobiactive': (activeOffer === offer)}">
            <div class="xurun" *ngIf="(offerCount(offer) > 1)"><p class="xurun-adet">x{{ offerCount(offer) }}</p></div>
            <div class="mobi-ufak-icon" [ngStyle]="{ 'background-image': 'url(' + offerImage(offer) + ')' }"></div>
            <div class="mobi-fiyat-box">
                <div *ngIf="offer.priceCredits" class="mobi-fiyat">
                    <div class="mobi-fiyat-sayi">{{ offer.priceCredits }}</div>
                    <img class="magaza-kredi-ico" src="/assets/images/magaza-kredi.png">
                </div>
                <div *ngIf="offer.priceActivityPoints" class="mobi-fiyat">
                    <div class="mobi-fiyat-sayi">+ {{ offer.priceActivityPoints }}</div>
                    <i class="icon icon-currency-{{ offer.priceActivityPointsType }} magaza-kredi-ico"></i>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="!activeOffer" class="kategoriresim">
        <img *ngIf="getImage(1)" [src]="getImage(1)" image-placeholder />
    </div>

    <div *ngIf="activeOffer" class="magaza-mobi-satin-box">
        <nitro-badge class="position-absolute" style="right: 0px; z-index: 1;" [badge]="selectedGroup.badge" [isGroup]="true"></nitro-badge>
        <div class="mobi-bilgiler-header">
            <div class="mobi-bilgi-detaylar">?</div>
            <div class="mobi-bilgi-ad">{{ offerName(activeOffer) }}</div>
        </div>
        <div class="mgz-mobi-gorunumu" nitro-room-preview-component [roomPreviewer]="roomPreviewer" [width]="233" [height]="160" style="position: relative;z-index: 1;"></div>
        <div class="mobigrupsec">
            <div class="mgz-mobi-aciklamasi">{{ 'group.edit.base.select.room' | translate }}</div>
            <div class="mobi-grupSec-box">
                <div class="grup-oda-sec">
                    <div class="gruplardan-sec">
                        <div class="grup-icon">
                            <button class="groupmobirenk" [ngStyle]="{backgroundColor: '#' + selectedGroupColorA}"></button>
                            <button class="groupmobirenk" [ngStyle]="{backgroundColor: '#' + selectedGroupColorB}"></button>
                        </div>
                        <select class="liste-forum-grupAdi" [(ngModel)]="selectedGroupId">
                            <option *ngFor="let group of groups" [value]="group.id">{{ group.title }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeOffer" nitro-catalog-purchase-component
    [activePage]="activePage"
    [activeOffer]="activeOffer"
    [quantityEnabled]="activeOffer.bundlePurchaseAllowed"
    [forcedExtra]="selectedGroupId"></div>
    </div>
</div>
