<nitro-wired-base-component>
    {{ ('wiredfurni.params.picktriggerer') | translate }}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radio" value="0" [(ngModel)]="avatar">
        <label class="form-check-label">{{ ('wiredfurni.params.anyavatar') | translate }}</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="radio" value="1" [(ngModel)]="avatar">
        <label class="form-check-label">{{ ('wiredfurni.params.certainavatar') | translate }}</label>
    </div>
    <div *ngIf="(avatar === '1')" class="form-group">
        <input type="text" class="form-control form-control-sm" [(ngModel)]="keyword">
    </div>
</nitro-wired-base-component>