<!--<ng-container *ngIf="(requests.size > 0)">
    <button type="button" class="btn btn-danger mb-1 w-100" (click)="declineAllRequests()">{{ ('friendbar.requests.discard') | translate }}</button>
    <ng-container *ngFor="let request of requests | keyvalue">
        <div class="btn-group w-100 mb-1">
            <button type="button" class="btn btn-primary w-100">{{ request.value.requesterName }}</button>
            <button type="button" class="btn btn-success" (click)="acceptRequest(request.value)"><i class="fas fa-check"></i></button>
            <button type="button" class="btn btn-danger" (click)="declineRequest(request.value)"><i class="fas fa-times"></i></button>
        </div>
    </ng-container>
</ng-container>-->


<ng-container *ngIf="(requests.size > 0)">
    <div class="friends-scrollbox friendlist-requests-list">
        <ng-container *ngFor="let request of requests | keyvalue">
            <div class="friendslist-box">
                <div class="friendsl_box-username" style="width: 537px;">{{ request.value.requesterName }}
                    <p class="user-online-exp">Friend request is expected</p>
                </div>
                <div class="friendsl_box-accept" (click)="acceptRequest(request.value)">
                    <i class="fas fa-user-plus" aria-hidden="true"></i>
                </div>
                <div class="friendsl_box-donotaccept" (click)="declineRequest(request.value)">
                    <i class="fas fa-user-minus" aria-hidden="true"></i>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
