<!--<div class="d-flex flex-column align-items-end">
    <div class="nitro-infostand card">
        <div class="d-flex justify-content-between align-items-center px-3 pt-3">
            <h6 class="m-0">{{ petData.name }}</h6>
            <button type="button" class="close" (click)="hide()"><i class="fas fa-times"></i></button>
        </div>
        <div class="d-flex flex-column p-3 w-100">
        </div>
    </div>
    <div class="button-container btn-group mt-2">
        <button type="button" class="btn btn-primary" (click)="processButtonAction('buyfood')">{{ 'infostand.button.buyfood' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="processButtonAction('respect')">{{ 'infostand.button.petrespect' | translate:'count':'0' }}</button>
        <button type="button" class="btn btn-primary" (click)="processButtonAction('kick')">{{ 'infostand.button.kick' | translate }}</button>
    </div>
</div>
-->

<div class="corelo-infofurni mnone">
    <div class="d-flex flex-column align-items-end">
        <div class="furni-infobox">
            <div class="f-ib-head">
                <div class="furniname">{{ petData.name }}</div>
                <i class="fas fa-times" (click)="hide()"></i>
            </div>
            <div class="motto-hr"></div>
            <div class="furniview-box">
                <div class="pet-image" pet-image [petFigureData]="petData.petFigureData" [direction]="2" [asBackground]="true"></div>
            </div>
        </div>
        <div class="button-container btn-group">
            <div class="infofurni-button" (click)="processButtonAction('buyfood')"><img src="/assets/images/mover.png" style="float: left;margin: 6px 0px 6px 6px;"><p class="fbutton-txt">{{ 'infostand.button.buyfood' | translate }}</p></div>
            <div class="infofurni-button" (click)="processButtonAction('respect')"><img src="/assets/images/pickup.png" style="float: left;margin: 7px 0px 6px 6px;"><p class="fbutton-txt">{{ 'infostand.button.petrespect' | translate:'count':'0' }}</p></div>
            <div class="infofurni-button" (click)="processButtonAction('kick')"><img src="/assets/images/use.png" style="float: left;margin: 8px 0px 8px 6px;"><p class="fbutton-txt">{{ 'infostand.button.kick' | translate }}</p></div>
        </div>
    </div>
</div>
