<!--<div class="nav-search">
    <img class="nroom-filtre_ico" src="./assets/images/nav/nroom-filtre_ico.png">
    <div ngbDropdown>
        <button class="nroom-filtre" ngbDropdownToggle style="outline: 0;float: left;text-align: left;">{{ ('navigator.filter.' + this.currentFilter.name) | translate }}</button>
        <div class="asas" ngbDropdownMenu>
            <button style="font-weight: 500 !important;font-size: 12px;font-family: 'Ubuntu';position: relative;float: left;height: 25px;margin-left: -17px;" class="dropdown-item" *ngFor="let filter of searchFilters" ngbDropdownItem (click)="changeFilter(filter)">{{ ('navigator.filter.' + filter.name) | translate }}</button>
        </div>
    </div>
    <input type="text" class="nroom-search" [(ngModel)]="searchValue" [placeholder]="('navigator.filter.input.placeholder') | translate" (keydown.enter)="search($event)">
    <div class="icoText"></div>
    <div class="reloadSearch"></div>
</div>
-->
<input class="mnav-search" type="text" [(ngModel)]="searchValue" [placeholder]="('navigator.filter.input.placeholder') | translate" (keydown.enter)="search($event)">

<div class="modernnav-search-main">
    <div ngbDropdown>
        <button type="button" class="modern-liste-button" ngbDropdownToggle>{{ ('navigator.filter.' + this.currentFilter.name) | translate }}</button>
        <div class="dropdown-menu" ngbDropdownMenu>
            <button class="dropdown-item" *ngFor="let filter of searchFilters" ngbDropdownItem (click)="changeFilter(filter)">{{ ('navigator.filter.' + filter.name) | translate }}</button>
        </div>
    </div>
    <input class="modern-search" type="text" [(ngModel)]="searchValue" [placeholder]="('navigator.filter.input.placeholder') | translate" (keydown.enter)="search($event)">
</div>
